In [176]:
import numpy as np
import pandas as pd
import scipy.stats as st
from collections import Counter
from tqdm import tqdm

In [177]:
class Person():
    def __init__(self,choice) -> None:
        self.choice = choice
    def __repr__(self):
        return f"{self.choice}"
        
def sim(average_people=10,num_stations = 10,way="ramzey"):
    passengers = []
    
    stations = [f"station_{i}" for i in range(num_stations)]

    people_entering = np.random.poisson(average_people,num_stations)
    for idx in range(len(stations)-1):
        if way=="ramzey": 
            new_people = np.random.choice(stations[idx+1:], size=people_entering[idx])

        else :
            potential_people = np.random.choice(stations, size=people_entering[idx])

            new_people = [person for person in potential_people if person>stations[idx] ]

        
        passengers.extend(new_people)
    
    num_passengers = len(passengers)
    count = Counter(passengers)
    
    for station,occ in count.items():
        count[station]=occ/num_passengers
    
    return count


def simulations(iterations=100,average_people=10,num_stations = 10,way="ramzey"):
    sims = []

    for i in range(iterations):
        sims.append(sim(average_people=average_people,num_stations=num_stations,way=way))

    data = pd.DataFrame(sims)

    data = data.fillna(0)
    # data["sum"]=data.sum(axis=1)
    return data

data = simulations(10000,average_people=50,num_stations=5)

In [178]:
data2 = simulations(iterations=10000,way="imad",average_people=50,num_stations=5)

In [179]:
def stats(data:pd.DataFrame):
    print(f"simulations :{data.shape[0]}")
    print(f"stations :{data.shape[1]}")
    print("Most propable")
    print(f"station :{data.mean(axis=0).idxmax()} P:{data.mean(axis=0).max()}")
    
print("Ramzey")
stats(data)
print("\nImad")
stats(data2)
data2.head(10)

Ramzey
simulations :10000
stations :4
Most propable
station :station_4 P:0.5207470842972062

Imad
simulations :10000
stations :4
Most propable
station :station_4 P:0.40031973224225814

   station_1  station_4  station_2  station_3
0   0.102273   0.409091   0.147727   0.340909
1   0.074380   0.363636   0.190083   0.371901
2   0.146067   0.415730   0.258427   0.179775
3   0.047619   0.392857   0.202381   0.357143
4   0.099010   0.326733   0.217822   0.356436
5   0.072917   0.416667   0.239583   0.270833
6   0.105263   0.442105   0.231579   0.221053
7   0.103448   0.413793   0.195402   0.287356
8   0.047059   0.529412   0.176471   0.247059
9   0.074468   0.425532   0.202128   0.297872